.project {
    padding-bottom: 0px;
    margin: 32px 12vw;
}

.project-bg {
    display: flex; 
    gap: 2vw; 
    margin: 8px 10vw; 
    padding: 32px; 
    border-radius: 16px; 
    background-color: #1a1a1a;
    font-weight: 300;
}

.box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    background-color: hsl(27, 100%, 50%);
    border-bottom: 6px hsl(22, 100%, 51%) solid;
    border-right: 6px hsl(22, 100%, 51%) solid;
    padding: 8px 12px 4px 16px;
    gap: 16px;
    border-radius: 1.25vw;
    box-shadow: 0px 0px 5px black;
}

p {
    font-size: 18px;
}