footer {
    border-top: 4px solid #BF2800
}
.contact-info {
    padding: 8px;
}

.contact-info > p {
    margin: 0px;
    margin-bottom: 8px;
    font-size: 18px;
    color: white;
}
.contact-info > h4 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.dev-name {
    margin: 0px;
    padding: 0px;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.site-name {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 18px;
    gap: 16px;
    margin: 8px;
}
.icon-text > a {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
    color: white;
}

.icon-text > fa-icon {
    aspect-ratio: 1;
}

p {
    margin: 0px;
    padding: 0px;
}