<footer style="background-color: #F15A29; display: flex; padding: 16px 16px; justify-content: space-between; align-items: center;">
    <div class="contact-info">
        <h4>Contact Me</h4>
        <div class="icon-text">
            <fa-icon [icon]="faEnvelope" size="xl"></fa-icon>
            <a href="#">zalwicker@gmail.com</a>
        </div>
        <div class="icon-text">
            <fa-icon [icon]="faPhone" size="xl"></fa-icon>
            <a href="#">+1 (224) 256-1516</a>
        </div>
    </div>
    <div>
        <p class="dev-name">Zach Alwicker</p>
        <div class="site-name">zalwicker.dev</div>
    </div>
    <app-social-links></app-social-links>
</footer>