<h1>About Me</h1>
<div class="about">
    <h2>Motivation</h2>
    <p class="blurb">Some insight into why I do what I do.</p>
    <h3><fa-icon [icon]="faSmile" style="padding-right: 16px;"></fa-icon>Providing Enjoyment</h3>
    <p>When I work on software, games, or other projects, my goal is always to make something that someone will enjoy. Whether it makes their life easier, makes them happier, or benefits them in some other positive way, I want to be able to create something that people find and are excited to use.</p>
    <h3><fa-icon [icon]="faChart" style="padding-right: 16px;"></fa-icon>The Numbers</h3>
    <p>The stats for my projects, particularly games, keep me motivated to keep working. The numbers of users, use time, money, and more motivate me to work more on a project as they go up. Part of the reason for my success in game development has been from the percentage of positive reviews for my game motivating me to strive to improve it for those who enjoy it and make it better for those who don't.</p>
    <div class="separator" style="margin-bottom: 32px; margin-top: 32px;"></div>
    <h2>Hobbies & Interests</h2>
    <p class="blurb">While I don't work professionally in any of these industries, I would be interested to do work involving them.</p>
    <h3><fa-icon [icon]="faGamepad" style="padding-right: 16px;"></fa-icon>Game Design</h3>
    <p>One of my main hobbies is game design. I've been doing game design since I was about 11, starting on Roblox. Since then, I've made several Roblox games, a few mobile games in Unity, and I am currently starting to work in Unreal Engine. Some of the projects I've worked on in game design can be seen in <a routerLink="/projects">My Projects</a></p>
    <h3><fa-icon [icon]="faTrophy" style="padding-right: 16px;"></fa-icon>Esports</h3>
    <p>I love watching Esports, which are video games being played by professionals in large tournaments. My favorite Esport is CS:GO, because of the tactics involved and the strategy of the game being complex while still being easy to watch. My favorite team across all Esports is Team Liquid.</p>
    <h3><fa-icon [icon]="faMusic" style="padding-right: 16px;"></fa-icon>Music</h3>
    <p>I'm interested in everything around music. I'm an avid concert-goer and I'm pretty much listening to music 24/7. My favorite genre is rock, and guitar is my favorite instrument.</p>
</div>