<div class="navbar">
    <div style="flex: 1; display: flex; height: 100%; align-items: center; justify-content: left;">
        <a routerLink="/" style="display: inline-block; aspect-ratio: 1; height: 80%;"><img src="assets/icon.png" style="width: 100%; height: 100%"></a>
        <p class="site-name">Zach Alwicker</p>
    </div>
    <div style="flex: 1; display: flex; justify-content: center">
        <a routerLink="/about" class="navbar-link">About</a>
        <a routerLink="/projects" class="navbar-link">Projects</a>
        <a routerLink="/resume" class="navbar-link">Resume</a>
    </div>
    <app-social-links style="flex: 1"></app-social-links>
</div>