<h2 style="padding-bottom: 16px">Project Spotlight</h2>
<div style="display: flex; gap: 2vw; margin: 8px 20vw; padding: 32px; border-radius: 16px; background-color: #1a1a1a;">
    <div style="flex: 1; display: flex; align-items: center; justify-content: right">
        <img style="aspect-ratio: 16/9; width: 100%" src="https://tr.rbxcdn.com/8b838daf50da8c7aa4e75776fdeef515/768/432/Image/Png">
    </div>
    <div style="flex: 1;">
        <h3 style="text-align: left">Example Project Title</h3>
        <p>This is an explanation of a project that I have recently worked on. For instance, crying simulator is a game that I have recently worked on that has netted me over $1,000 in revenue this year.</p>
        <a href="" class="box">View example project<fa-icon [icon]="faArrow" size="xl"></fa-icon></a>
    </div>
</div>