.name {
    border: none;
    margin: 0px auto;
    padding: 0px;
    font-size: 40px;
}
.resume-item {
    display: block;
    margin: 16px;
    color: white;
    width: 100%;
}

.resume-item > h2 {
    border-style: solid;
    text-align: left;
    border-width: 0px;
    border-left-width: 1px;
    padding-left: 16px;
    padding-bottom: 16px;
    margin-bottom: 0px;
}

div > ul {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-color: white;
    width: 100%;
    padding: 0px 16px 16px 16px;
}

.contact-info {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.contact-info > p {
    margin: 0px;
    margin-bottom: 8px;
    font-size: 18px;
    color: white;
}
.contact-info > h4 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 14px;
    gap: 16px;
    margin: 8px;
}
.icon-text > a {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
    color: white;
}

.icon-text > fa-icon {
    aspect-ratio: 1;
}

div > ul > li {
    margin-bottom: 16px;
}