<h2>Welcome to zalwicker.dev</h2>
<p></p>
<div class="box-container">
    <a href="#" class="box">
        <fa-icon [icon]="faUser" size="4x" style="color: white"></fa-icon>
        <h2>About Me</h2>
        <p>This section is about me and my goals in software development and game design.</p>
    </a>
    <a href="#" class="box">
        <fa-icon [icon]="faLightbulb" size="4x" style="color: white"></fa-icon>
        <h2>My Projects</h2>
        <p>Some overview of projects I've worked on in the past and the skills I picked up from them.</p>
    </a>
    <a href="#" class="box">
        <fa-icon [icon]="faClipboard" size="4x" style="color: white"></fa-icon>
        <h2>My Resume</h2>
        <p>My formal resume that can be viewed and printed.</p>
    </a>
</div>