.box-container {
    margin: 32px 12vw;
    display: flex;
    gap: 4vw;
    align-items: center;
}

.box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: hsl(27, 100%, 50%);
    border-bottom: 12px hsl(22, 100%, 51%) solid;
    border-right: 12px hsl(22, 100%, 51%) solid;
    padding: 36px 12px 28px 16px;
    gap: 16px;
    border-radius: 2.5vw;
    box-shadow: 0px 0px 10px black;
}

.box > p {
    margin: 0px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.box:hover {
    animation-name: bounce;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}